<section>
  <h2>New Blog</h2><hr>

  <form class="new-post-form">
    <div>
      <label class="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label class="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" id="newBtn" class="button is-outlined is-rounded">New Post</button>
  </form>
</section>

<script src="/add-post.js"></script>