<div class="column">
<h2 id="label" class="title pb-4">Login:</h2><hr>
<form class="login-form">
  <div>
    <label id="label" for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label id="label" for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button is-hoverable is-success is-outlined is-rounded">login</button>
    <a href="/signup">
    <button type="button" class="button is-hoverable is-info is-outlined is-rounded">signup</button></a>
  </div>
</form>
</div>

<script src="/login.js"></script>